.show-events {
  text-align: center;
  font-family: inherit;
}

.show-events > .label-hash {
  color: var(--color-fourth);
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: var(--spacing-big);
}

.show-events > .label-hash::before {
  box-sizing: border-box;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-fourth);
  border-radius: 5px;
  margin-right: 5px;
}

.show-events > .input-hash {
  display: none;
}

.label-hash::after {
  box-sizing: border-box;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--color-fourth);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 120ms linear;
  transform: scale(0);
}

.show-events > .input-hash:checked + .label-hash::after {
  transform: scale(0.5);
}

.show-events > .history-game {
  display: none;
}

.show-events > .input-hash:checked ~ .history-game {
  display: block;
}
