.app > .header-hash,
.header-aboutLayer {
  width: 82vw;
  margin: 0 auto;
}

.app > .section-hash {
  box-sizing: border-box;
  width: 84vw;
  height: 84vw;
  margin: 100px auto 0;
  padding: 16px;
  margin-bottom: var(--spacing-big);
}

.app > .events-hash {
  display: block;
  width: 130px;
  height: 30px;
  font-family: inherit;
  font-size: var(--size-small);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  text-align: center;
  color: var(--color-negative);
  margin: 0 auto var(--spacing-md);
  transition: transform 120ms linear;
  transform: scale(0);
}

.app > .events-hash.-show {
  transform: scale(1);
}
